<link rel="stylesheet" href="/css/app.css">

<div class="container">
    <h1>TODO List</h1>
    <hr>
    <form action="/create-todo" id="add_todo_form" method="POST" class="form-fill" >
        <div class="description">
            <p>Description</p>
            <input type="text" name="description" id="desc"  placeholder="What do you need to do?" required>
        </div>
        <div class="options">
            <div class="cat">
                <p>Category</p>
                <select name="category" id="cat" required>
                    <option name="Choose" selected>Choose</option>
                    <option name="Personal">Personal</option>
                    <option name="School">School</option>
                    <option name="Cleaning">Cleaning</option>
                    <option name="Other">Other</option>
                </select>
            </div>
            <div class="date">
                <p>Due Date</p>
                <input type="date" id="due_date" name="date" placeholder="dd/mm/yyyy" required>
            </div>
            <div class="time">
                <p>Due Time</p>
                <input type="time" id="due-time" name="time" placeholder="hh:mm">
            </div>
        </div>
        <div class="buttons">
            <button type="submit" class="btn btn-dark btn-1">
                <i class="fas fa-plus"></i>
                ADD TASK
            </button>
            
        </div>
    </form>
    

        <form id="delete-todo-form" action="/delete-todo" method="POST">
            
            <ul class="todo-list-container">
                <% for(var key of todo_list){%>
                    <li class="single-todo" id="todo-<%=key.id%>">
                        <div class="check">
                            <input type="checkbox" id="check" name="check" value="<%=key.id%>">
                            
                            <div class="desc_and_date">
                                <b><span><%=key.description%></span></b>
                                <div>
                                    <span class="date">
                                        <i class="fas fa-calendar-day"></i>
                                    <%=key.date%>
                                    </span>
                                    &nbsp;
                                    <span class="date">
                                        <i class="fas fa-clock"></i>
                                    <%=key.time%>
                                    </span>
                                </div>

                            </div>
                        </div>
                        
                        <div id="category">
                            <span><%=key.category%></span>
                        </div>
                    </li>
                    
                <%}%>
            </ul>
            <div class="submitbtn">
                <button type="submit" class="btn btn-danger btn-2">
                    <i class="fas fa-trash"></i>
                    DELETE TASKS
                </button>
            </div>
            

    </form>
    
</div>

<script src="/js/helper.js"></script>
<script src="/js/add_todo.js"></script>